@use "variables";

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    line-height: normal;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: variables.$rouge;
    border-color: variables.$rouge;
}
.sound-button-group{
    cursor: pointer;
    max-width: 137px;
    .button-label{
        &.title{
            display: -webkit-box;
            -webkit-line-clamp: 2;   /* number of lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &.loading{
        margin: auto 0;
        max-width: 50px;
        max-height: 50px;
        margin-left: 43.5px;
        margin-right: 43.5px;
    }
}
body:not(.wp-admin){
    font-family: variables.$work-sans !important;
    font-size: 18px !important;
    transition: .3s all;
    color: variables.$noir-eben !important;
    select,
    textarea,
    input[type=text],
    input[type=email],
    input[type=tel]
    {
        position: relative;
        padding: 10.25px 22px !important;
        border: 2px solid #1E1E1E;
        font-size: 17px;
        border-radius: 5px !important;
         &::placeholder{
            color: #BDBDBD !important;
        }
        &:focus-visible,&:focus{
            outline: none;
            //border: 2px solid variables.$noir-eben;
        }
        &:focus{
            box-shadow: inset 0 -2px 0 0 #1E1E1E;
        }
        &:hover{
            background-color: variables.$beige-color;
        }
    }
    .select2-container .select2-dropdown, .select2-container .select2-selection{
        border: 2px solid #1E1E1E !important;
        font-size: 17px;
        border-radius: 7px !important;
    }
    .select2-container .select2-selection--single .select2-selection__rendered{
        padding-left: 22px !important;
    }
    a{
        transition: .3s all;
    }
    h1,
    .section-title{
        font-family: variables.$bardon;
        font-size: 24px;
        text-align: center;
        margin-bottom: 40px;
        line-height: normal;
        @media (max-width: 768px){
            font-size: 16px;
        }
    }
    
    input[type="checkbox"]:not(:checked),
    input[type="radio"]:not(:checked) {
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: none;
    }

    input[type="checkbox"]:checked,
    input[type="radio"]:checked
    {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }


    input[type=checkbox]{
        -webkit-box-shadow: 0px 0px 0px 2px variables.$noir-eben;
        -moz-box-shadow: 0px 0px 0px 2px variables.$noir-eben;
        box-shadow: 0px 0px 0px 2px variables.$noir-eben;
        width: 20px;
        height: 20px;
        padding: 0;
        min-width: 20px;
        accent-color: variables.$noir-eben;
        border-radius: 5px;
    }

}

.add_to_cart_button,
.wpcf7-submit,
.buzzer-default-btn{    
    font-family: variables.$work-sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 13px 20px;
    background-color: variables.$rouge;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: .3s all;
    display: inline-block;
    &:hover{
        background-color: #8c1e14;
    }
    &:focus-visible{
        outline: none;
    }
}
.wpcf7-submit{
    border: none;
    text-transform: none;
}
.check-link{
    a{
        font-size: 18px;
        line-height: 21px;
        color: #1E1E1E;
        text-decoration: none;
        display: inline-block;
        position: relative;
        &:after{
            position: absolute;
            bottom: 0;
            content: "";
            width: 100%;
            height: 2px;
            background-color: variables.$rouge;
            left: 0;
        }
        &:hover{
            background-color: variables.$noir-eben;
            color: white;
        }
    }
}


.body:not(.wp-admin){
    .page-title{
        font-family: variables.$bardon;
        font-size: 24px;
        margin-bottom: 26px;
        &.left{
            text-align: left;
        }
    }
}

.product-card {
    background: #ffffff;
    border: 2px solid variables.$noir-eben;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    @media (max-width: 768px){
        margin-bottom: 30px;
    }
    &:hover{
        .image-container{
            .product-image{
                transform: scale(1.1);
            }
        }
        .product-details{
            .product-title{
                text-decoration: underline;
            }
        }
    }

    .image-container {
        width: 100%;
        height: 180px;
        position: relative;
        background-color: #F8F8F8;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .product-image {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            transition: .3s all;
        }
    }

    .product-details {
        width: 100%;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .product-title {
            font-family: variables.$work-sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.2;
            color: variables.$noir-eben;
            margin: 0;
            text-align: left;
        }

        .text-price{
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            del{
                font-family: variables.$work-sans;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                color: variables.$gris;
                text-decoration: line-through;
            }
            ins 
            {
                text-decoration: none;
                margin-right: 10px;
                .woocommerce-Price-amount bdi{
                    font-family: variables.$work-sans;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 1.2;
                    color: variables.$noir-eben;
                    text-decoration: none;
                }
            }
        }

        
    }
}

.wp-block-lazyblock-idees-de-bruitage{
    .sound-button-group {
        @media (max-width: 768px){
            &:nth-child(n+5){
                display: none;
            }
        }
    }
}

.loading-effect{
    .loading-container{
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        @media (max-width: 768px){
            flex: 0 0 40%;
            
        }
    }
    &.loading{
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        inset: 0;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        .loading-container{
            border: 8px solid #f3f3f3; /* Light gray */
            border-top: 8px solid variables.$rouge; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
            max-width: 50px;
            //margin: auto; /* center it */
            &>*{
                display: none;
            }
        }

    }
}

.sound-button-group {
        &.loading{
            border: 8px solid #f3f3f3; /* Light gray */
            border-top: 8px solid variables.$rouge; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
            //margin: auto; /* center it */
            &>*{
                display: none;
            }
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        @media (max-width: 768px){
            flex: 0 0 40%;
            
        }
        .sound-button {
            width: 116px;
            height: 116px;
            object-fit: cover;
        }

        .button-label {
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #000;
            margin-top: 8px;
            min-height: 43px;
            transition: .3s all;
            &.button-label-2{
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                margin: auto;
            }
        }

        .use-it-button {
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #fff;
            background: #C92E26;
            border-radius: 5px;
            padding: 10px 20px;
            text-decoration: none;
        }
        &.show-use-it-btn{
            .button-label {
                opacity: 0;
                &.button-label-2{
                    opacity: 1;
                }
            }
        }
    }
    

.woocommerce-order-received,
.single-product,
.error404,
.page-template-template-contact{
    .wp-block-lazyblock-section-au-dessus-du-footer{
        display: none;
    }
}
.max-875{
    max-width: 875px;
    margin-left: auto;
    margin-right: auto;
}
.page-template-default{
    h1{
        text-align: left !important;
    }
}

.woocommerce-billing-fields__field-wrapper{
    &>p{
        &.woocommerce-invalid-required-field{
            input{
                border-color: variables.$rouge !important;
                &:focus{
                    border-color: variables.$rouge !important;
                    box-shadow: inset 0 -2px 0 0 variables.$rouge;
                }
            }
            label{
                color: variables.$rouge;
            }
            .select2-selection{
                border-color: variables.$rouge !important;
                .select2-selection__arrow{
                    b{
                        border-color: variables.$rouge transparent transparent transparent;
                    }
                }
            }
        }
        label{
            display: block;
            margin-bottom: 5px;
        }
        input{
            width: 100%;
        }
        .select2-selection{
            height: 51px;
            .select2-selection__rendered{
                height: 100%;
                display: flex;
                align-items: center;
            }
            .select2-selection__arrow{
                top: 0;
                bottom: 0;
                margin: auto;
                margin-right: 14px;
                b{
                    border-color: variables.$noir-eben transparent transparent transparent;
                }
            }
        }
    }
}


/* WooCommerce checkout loader */
.woocommerce .blockUI.blockOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.6;
    z-index: 9999;
}

.woocommerce .blockUI.blockOverlay::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    border: 4px solid #ededed;
    border-top-color: #0071a1; /* WooCommerce default blue */
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.product-grid {
    display: flex;
    flex-wrap: wrap;
    .product-card {
        background: #ffffff;
        border: 2px solid variables.$noir-eben;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 200px;
        @media (max-width: 768px){
            margin-bottom: 30px;
        }

        .image-container {
            width: 100%;
            height: 180px;
            position: relative;
            background-color: #F8F8F8;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .product-image {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        .product-details {
            width: 100%;
            padding-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            min-height: 93px;

            .product-title {
                font-family: variables.$work-sans;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2;
                color: variables.$noir-eben;
                margin: 0;
                text-align: left;
                span{
                    font-weight: normal;
                    font-size: 16px;
                }
            }

            .prices {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: left;
                position: relative;
                width: fit-content;
                ins{
                    text-decoration: none;
                }
                span,
                bdi{
                    font-weight: 700;
                    text-decoration: none;
                    font-family: variables.$work-sans;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 1.2;
                    color: variables.$noir-eben;
                    text-decoration: none;
                }
                del {
                    span,
                    bdi{
                        font-family: variables.$work-sans;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 1.2;
                        color: variables.$gris;
                        text-decoration: line-through;
                        position: absolute;
                        top: 0;
                        left: calc(100% + 10px);
                        @media (max-width: 991px){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}