@use "variables";

header{
    background-color: #fff !important;
    position: sticky;
    top: 0;
    z-index: 9999;
    &.shadow{
        box-shadow: 0px 2px 4px 0px #00000040;
    }
    &.f-height{
        height: 100vh;
        background-color: variables.$beige-color !important;
        .navbar{
            background-color: variables.$beige-color !important;
        }
    }
    .navbar{
        background-color: #fff !important;
        ul{
            li{
                a{
                    font-family: variables.$work-sans;
                    font-weight: 400;
                    font-size: 18px;
                    padding-left: 16px !important;
                    padding-right: 16px !important;
                    &.current{
                        position: relative;
                        &:after{
                            content: "";
                            bottom: 10px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: calc(100% - 16px - 16px);
                            background-color: variables.$rouge;
                            position: absolute;
                            height: 2px;
                            @media (max-width: 991px) {
                                display: none;

                            }
                        }
                    }
                    &.cart{
                        position: relative;
                        padding: 5px;
                        span{
                            position: absolute;
                            bottom: 4px;
                            right: 16px;
                            background: #C92E26;
                            width: 8Px;
                            height: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            color: #fff;
                            font-size: 12px;
                        }
                        label{
                            display: none;
                            @media (max-width: 991px){
                                display: block;
                            }
                        }
                        @media (max-width: 991px){
                            display: flex;
                            justify-content: center;
                            gap: 10px;
                        }
                    }
                }
            }
        }
        .top-right-menu-mobile{
            display: none;
            justify-content: center;
            align-items: center;
            gap: 32px;
            .cart-count{
                position: absolute;
                bottom: 0;
                right: 0;
                background: #C92E26;
                width: 8Px;
                height: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
                font-size: 12px;
            }
            a{
                display: flex;
            position: relative;
            }
            @media (max-width: 991px){
                display: flex;
            }
        }
        .navbar-toggler{
            border: none;
            height: 17.5px;
            padding: 0;
            display: none;
            flex-direction: column-reverse;
            justify-content: space-between;
            box-shadow: none;
            span{
                height: 2.5px;
                width: 22.5px;
                display: block;
                background: variables.$noir-eben;
                transition: all 0.3s ease;
            }
            &.open {
                span:nth-child(1) {
                    transform: rotate(45deg) translate(-5px, -5px);
                }

                span:nth-child(2) {
                    opacity: 0;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg) translate(-6px, 5px);
                }
            }
            @media (max-width: 991px){
                display: flex;
            }
        }
        .navbar-collapse{
            @media (max-width: 991px){
                padding-top: 38px;
                .nav-item{
                    .nav-link {
                        text-align: center;
                        font-family: variables.$bardon;
                        margin-bottom: 40px;
                        font-size: 20px;
                        color: variables.$noir-eben;
                        img{
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
}