@use "variables";

/*********************** Archive product page ******************************/
.page-template-template-product{
    main{
        padding: 69px 0 0;
        .description,
        h1{
            text-align: left;
            margin-bottom: 19px;
        }
        .description{
            max-width: 604px;
            font-size: 16px;
            margin-bottom: 45px;
        }
        .product-grid{
            .product-card{
                margin-bottom: 60px;
            }
        }
    }
}

/*********************** Single product page ******************************/
.single-product{
    .product-top-section{
        max-width: 1072px;
        margin: auto;
        h1{
            text-align: left;
            margin-bottom: 17px;
            @media (max-width: 768px){
                margin-bottom: 20px;
                margin-top: 14px;
            }
        }
        .productSwiper{
            img{
                width: 513px;
                height: 430px;
                object-fit: contain;
            }
        }
        .productThumbsContainer{
            padding: 0 41px;
            position: relative;
            .productThumbs{
                .swiper-wrapper{
                    //overflow: hidden;
                    .swiper-slide{
                        opacity: .58;
                        &.swiper-slide-thumb-active{
                            opacity: 1;
                        }
                        img{
                            width: 70px;
                            height: 70px;
                            object-fit: contain;
                        }
                    }
                }
            }
            .swiper-button-prev,
            .swiper-button-next{
                width: 30px;
                height: 50px;
                background: variables.$rouge;
                border-radius: 10px;
                &::after{
                    font-size: 24px;
                    color: #fff;
                }
            }
            .swiper-button-prev{
                left: 0;
            }
            .swiper-button-next{
                right: 0;
            }

        }
        
        .price-reviews{
            .ratings{
                display: flex; 
                gap: 6px;
                margin-bottom: 30px;
                padding-bottom: 26px;
                width: 100%;
                border-bottom: 1px solid #E6E6E6;
                align-items: center;
                .stars{
                    
                }
                .nb-ratings{
                    color: variables.$rouge;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: right;
                    text-decoration: underline;
                    text-decoration-style: solid;
                    text-decoration-thickness: 12%;
                    text-decoration-skip-ink: auto;
                }
            }
            .text-price{
                color: variables.$noir-eben;
                font-size: 24px;
                font-weight: 700;
                display: flex;
                flex-direction: column-reverse;
                ins{
                    text-decoration: none;
                    font-size: 24px;
                }
                del{
                    text-decoration: line-through;
                    font-size: 16px;
                    color: #6F6F6F;
                    font-weight: 400;

                }
            }
            @media (max-width: 768px){
                display: flex;
                flex-direction: row-reverse;
                margin-top: 30px;
                .ratings{
                    margin: 0;
                    padding: 0;
                    border: unset;
                    justify-content: end;
                    align-items: start;
                }
                .nb-ratings{
                    padding-top: 4px;
                }
            }
        }
        .product-description{
            margin-top: 26px;
            font-weight: 400;
            font-size: 16px;
        }
        .add_to_cart_button{
            width: 100%;
            border: none;
        }
    }
    .features-bar{
        padding: 30px 0;
        background-color: variables.$beige-color;
        margin-top: 135px;
        margin-bottom: 100px;
        @media (max-width: 768px){
            margin-top: 50px;
            margin-bottom: 100px;
        }
        .features-bar-content{
            max-width: 1072px;
            margin: auto;
            .feature-items{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .feature-item{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    p{
                        margin: 0;
                        height: fit-content;
                    }
                }
            }
        }
    }


    .product-features{
        max-width: 1072px;
        margin: auto;
        margin-bottom: 148px;
        @media (max-width: 768px){
            margin-bottom: 50px;
            margin-top: 50px;
        }
        a{
            color: variables.$noir-eben;
            text-decoration-color: variables.$rouge;
            text-decoration-thickness: 2px;
        }
        .shipping,
        .product-details{
            h3{
                font-family: variables.$bardon;
                font-size: 16px;
                margin-bottom: 18px;
            }
        }
        .shipping{
            &>div{
                padding-left: 20px;
            }
        }
        .faq-section{
            .faq-card{
                .faq-title{
                    text-align: left;
                }
                &:before{
                    right: calc(100% + 20px);
                    left: unset;
                }
            }
        }
    }
    .spread-smiles{
        margin-bottom: 106px;
        @media (max-width: 768px){
            margin-bottom: 50px;
        }
    }
}

/*********************** Contact page ******************************/
.contact-page{
    padding: 57px 0;
    max-width: 857px;
    margin: auto;
    h1{
        text-align: left;
    }
    @media (max-width: 768px){
        padding: 27px 0 28px;
    }
    .contact-info{
        height: 100%;
        .content{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                top: calc(100% + 50px);
                left: 0;
                right: 0;
                margin: auto;
                background-image: url("../assets/icons/pink_smile.svg");
                width: 71px;
                height: 79px;
                @media (max-width: 768px){
                    display: none;
                }   
            }
            a{
                color: variables.$noir-eben;
                text-decoration-color: variables.$rouge;
                text-decoration-thickness: 2px;
            }
        }
        .contact-email{
            margin-bottom: 47px;
            a{
                position: relative;
                padding-left: 36px;
                text-decoration: none;
                color: variables.$noir-eben;
                &:before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    content: "";
                    background-image: url("../assets/icons/mail.svg");
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    .contact-form{
        background-color: variables.$beige-color;
        padding: 29px 40px 81px;
        margin-top: -54.8px;
        min-height: 583px;
        display: flex;
        align-items: center;
        @media (max-width: 768px){
            margin-bottom: 41px;
            padding-bottom: 21px;
            margin-top: 0;
            min-height: 300px;
        }
        form{
            input,
            textarea{
                width: 100%;
            }
            &.sent{
                p{
                    display: none;
                }
                height: 100%;
                .wpcf7-response-output{
                    border: none;
                    height: 167.13px;
                    margin: auto;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    text-align: center;
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 90px;
                        height: 71px;
                        background-image: url("../assets/icons/smile-2.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }
}

/*********************** Cart page ******************************/
.page-template-template-checkout,
.page-template-template-cart{
    main{
        padding: 50px 0;
        max-width: 874px;
        margin: auto;
        h1{
            text-align: left;
        }
        .cart-cards{
            .cart-card{
                background-color: variables.$beige-color;
                padding-left: 22px;
                padding-top: 20px;
                padding-bottom: 20px;
                border: 2px solid variables.$noir-eben;
                border-radius: 10px;
                margin-bottom: 20px;
                position: relative;
                .cart-head{
                    display: flex;
                    gap: 16.65px;
                    img{
                        width: 75.45px;
                        height: 63px;
                        border-radius: 10px;
                        object-fit: contain;
                        background-color: #fcfcfc;
                    }
                    .product-price{
                        text-align: center;
                        margin-top: 10px;
                        bdi{
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                    h3{
                        a{
                            font-size: 18px;
                            font-weight: 500;
                            color: variables.$noir-eben;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }

                        }
                    }
                }
                .quantity-group{
                    max-width: 150px;
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    label{
                        text-transform: uppercase;
                        font-size: 10px;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .qte-group{
                        .quantity{
                            height: 27px;
                        }
                        button{
                            height: 27px;
                            padding-bottom: 0;
                            padding-top: 0;
                            border: 1px solid;
                            border-color: variables.$noir-eben;
                        }
                        input[type=number]::-webkit-outer-spin-button,
                        input[type=number]::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        input{
                            width: 69px;
                            padding: 0;
                            border: 1px solid;
                            border-radius: 0;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .cart-products{
            .add-more-products{
                a{
                    padding: 7.5px 18px 7.5px 34px;
                    border: 2px solid variables.$rouge;
                    border-radius: 5px;
                    text-decoration: none;
                    color: variables.$noir-eben;
                    display: block;
                    width: fit-content;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: "";
                        top: 0;
                        bottom: 0;
                        width: 24px;
                        height: 24px;
                        left:8px;
                        margin: auto;
                        background-image: url("../assets/icons/add.svg");
                        transition: .3s all;
                    }
                    &:hover{
                        background-color: #ba3c30;
                        color: white;
                        &::after{
                            filter: brightness(0) invert(1); /* makes it white */
                        }
                    }
                }
            }
        }
        .cart-collaterals{
            max-width: 335px;
            float: right;
            .cart_totals {
                float: unset;
                width: 100%;
                display: block;
                padding: 20px;
                border: 2px solid variables.$noir-eben;
                border-radius: 10px;
                h3,
                h2{
                    margin-bottom: 21px;
                    font-weight: 700;
                    font-size: 24px;
                }
                table{
                    border: none;
                    margin-bottom: 0;
                    tr{
                        margin-bottom: 12px;
                        display: block;
                        th{
                            width: 90%;
                            padding: 0;
                            font-weight: 400;
                            font-size: 16px;
                            border: none;
                        }
                        td{
                            border: none;
                            padding: 0;
                            font-weight: 400;
                            bdi{
                                font-size: 16px;
                            }
                        }
                        &:last-child{
                            padding-top: 21px;
                            margin-top: 21px;
                            border-top: 1px solid #B4B4B4;
                            th{
                                font-weight: 700;
                                font-size: 20px;
                            }
                            td{
                                bdi{
                                    font-size: 20px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                .wc-proceed-to-checkout{
                    margin-top: 9px;
                    padding-top: 0;
                    a{
                        font-weight: 700;
                        padding: 14.5px 0 14.5px 20px;
                        font-size: 18px;
                        background-color: variables.$rouge;
                        text-align: left;
                        border-radius: 5px;
                        position: relative;
                        &:hover{
                            background-color: #8c1e14;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 20px;
                            margin: auto;
                            background-image: url("../assets/icons/arrow_forward.svg");
                            width: 17.17px;
                            height: 17.17px;
                        }
                    }
                }
            }
            .coupon{
                margin-top: 30px;
                display: flex;
                border: 2px solid variables.$noir-eben;
                border-radius: 10px;
                overflow: hidden;
                padding: 7px;
                justify-content: space-between;
                input{
                    border: none;
                    padding-left: calc(20px - 7px);
                }
                button{
                    font-weight: 400;
                    font-size: 18px;
                    padding: 6px 8px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.page-template-template-checkout{
    .woocommerce .col2-set .col-2, 
    .woocommerce-page .col2-set .col-2,
    .woocommerce .col2-set .col-1,
    .woocommerce-page .col2-set .col-1{
        width: 100%;
    }
    .woocommerce .col2-set .col-2, 
    .woocommerce-page .col2-set .col-2{
        margin-top: 20px;
    }
    .woocommerce-form-coupon-toggle{
        display: none;
    }
    #place_order{
        font-weight: 700;
        padding: 14.5px 50px 14.5px 20px;
        font-size: 18px;
        background-color: variables.$rouge;
        text-align: left;
        border-radius: 5px;
        position: relative;
        &:hover{
            background-color: #8c1e14;
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            margin: auto;
            background-image: url("../assets/icons/arrow_forward.svg");
            width: 17.17px;
            height: 17.17px;
        }
    }
    input{
        padding: 14px 20px;
    }
    #order_review{
        table{
            thead{
                display: none;
            }
            tbody{
                tr{
                    padding-top: 0;
                    margin-top: 0;
                    border-top: none;
                }
            }
        }
    }
}