.block-editor-block-list__layout .responsive-spacer{
    display: none;
}
.block-editor-block-list__layout .explore-ideas .swiper-wrapper
{
    display: flex;
    gap: 20px;
}
.block-editor-block-list__layout .faq-section .accordion .faq-item button{
    width: 100%;
    border: none;
}
.block-editor-block-list__layout .accordion-body{
    text-align: center;
}
.block-editor-block-list__layout .faq-footer{
    text-align: center;
}